@import url("fonts/styles.css");
/* variable */
/* line 8, app.scss */
body {
  background: #474264;
}
/* line 11, app.scss */
body #website {
  width: 100%;
}
/* line 15, app.scss */
body #website #header .content-wrapper {
  position: relative;
  width: 900px;
  margin: 0 auto;
  margin-top: 60px;
}
/* line 21, app.scss */
body #website #header .content-wrapper .flexslider {
  width: 892px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 26, app.scss */
body #website #header .content-wrapper .flexslider .flex-control-nav {
  z-index: 2;
  bottom: 0px;
}
/* line 32, app.scss */
body #website #header .content-wrapper .header-bar {
  background: #eb593c;
  position: fixed;
  height: 50px;
  width: 100%;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 5px;
  z-index: 999;
}
/* line 42, app.scss */
body #website #header .content-wrapper .header-bar .content-wrap {
  width: 900px;
  margin: 0 auto;
}
/* line 46, app.scss */
body #website #header .content-wrapper .header-bar .content-wrap ul.menu {
  list-style: none;
  height: 100%;
}
/* line 50, app.scss */
body #website #header .content-wrapper .header-bar .content-wrap ul.menu li {
  display: inline-block;
  height: 100%;
}
/* line 53, app.scss */
body #website #header .content-wrapper .header-bar .content-wrap ul.menu li a {
  display: inline-block;
  padding: 0px 25px;
  line-height: 50px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 60, app.scss */
body #website #header .content-wrapper .header-bar .content-wrap ul.menu li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #fff;
}
/* line 66, app.scss */
body #website #header .content-wrapper .header-bar .content-wrap ul.menu li.search > .form-search {
  margin-top: 10px;
}
/* line 77, app.scss */
body #website #content .content-wrapper {
  position: relative;
  width: 900px;
  margin: 0 auto;
  margin-top: 20px;
}
/* line 85, app.scss */
body #website #footer {
  /*background: rgba(95,72,99, 0.1);*/
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px;
}
/* line 90, app.scss */
body #website #footer .content-wrapper {
  position: relative;
  width: 900px;
  margin: 0 auto;
  min-height: 100px;
}
/* line 96, app.scss */
body #website #footer .content-wrapper .footer-col {
  width: 200px;
  float: left;
  padding-top: 10px;
  margin-left: 80px;
}
/* line 106, app.scss */
body #website #footer .content-wrapper .footer-col ul li a:hover {
  background: none;
}
/* line 110, app.scss */
body #website #footer .content-wrapper .footer-col ul li.title {
  font-size: 16px;
  padding-bottom: 5px;
  color: #333333;
}
/* line 122, app.scss */
body #website ul li a {
  /*font-family: "Notethis";
  font-size: 26px;*/
}
/* line 126, app.scss */
body #website ul li a:before {
  /*content: "\232a";*/
  color: #000;
  margin-right: 10px;
}
/* line 133, app.scss */
body #website #about {
  text-align: center;
  margin-top: 80px;
}
/* line 137, app.scss */
body #website #about .smiley {
  height: 140px;
  line-height: 140px;
}
/* line 142, app.scss */
body #website #about .progress.active .bar {
  width: 100%;
  -webkit-animation-duration: 10s;
  -webkit-animation-name: slidein;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-duration: 10s;
  -moz-animation-name: slidein;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
}
/* line 158, app.scss */
body #website #about .sprite-animation {
  width: 280px;
  height: 380px;
  margin: 0 auto;
  background-image: url("../img/deer-sprite.png");
  -webkit-animation: play 0.5s steps(7) infinite;
  -moz-animation: play 0.5s steps(7) infinite;
  -ms-animation: play 0.5s steps(7) infinite;
  -o-animation: play 0.5s steps(7) infinite;
  animation: play 0.5s steps(7) infinite;
}
/* line 171, app.scss */
body #website .smiley-font {
  font-family: TodayIFeel;
  font-size: 120px;
  color: #000;
}
/* line 176, app.scss */
body #website .tags {
  margin-top: 0px;
  width: 100%;
  clear: both;
}
/* line 181, app.scss */
body #website .tags .tag {
  position: relative;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid #feb515;
  float: left;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-image: url(../img/border-image.png) 5 5 5 5 stretch;
  -moz-border-image: url(../img/border-image.png) 5 5 5 5 stretch;
  -webkit-transition: background 0.5s ease-in;
  -moz-transition: background 0.5s ease-in;
  cursor: pointer;
}
/* line 197, app.scss */
body #website .tags .tag:hover {
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: background 0.2s ease-in-out;
  -webkit-animation-duration: .4s;
  -webkit-animation-name: hovered;
}
/* line 206, app.scss */
body .well {
  min-height: 500px;
}
/* line 209, app.scss */
body .specs li {
  list-style: none;
  padding-left: 0px;
  vertical-align: top;
  display: inline-block;
}
/* line 215, app.scss */
body .specs li:before {
  content: '\2192';
  color: #ff0000;
  margin-left: -10px;
}
/* line 221, app.scss */
body .specs li > span {
  font-weight: bold;
  color: #ff0000;
}

/* line 228, app.scss */
.ui-autocomplete {
  height: 130px;
  overflow: hidden;
}

/* line 233, app.scss */
.clear {
  clear: both;
}

/* line 237, app.scss */
.animation-rotate-icon {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-play-state: running;
}
/* line 244, app.scss */
.animation-rotate-icon.paused {
  -webkit-animation-play-state: paused;
}

@-webkit-keyframes rotate {
  /* line 250, app.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 254, app.scss */
  40% {
    -webkit-transform: rotate(90deg);
  }

  /* line 258, app.scss */
  80% {
    -webkit-transform: rotate(90deg);
  }

  /* line 262, app.scss */
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@-webkit-keyframes slidein {
  /* line 268, app.scss */
  0% {
    width: 0%;
  }

  /* line 272, app.scss */
  30% {
    width: 40%;
  }

  /* line 276, app.scss */
  40% {
    width: 40%;
  }

  /* line 280, app.scss */
  100% {
    width: 100%;
  }
}

@-webkit-keyframes hovered {
  /* line 286, app.scss */
  0% {
    -webkit-transform: rotate(-5deg);
  }

  /*	10% {
  		-webkit-transform: rotate(5deg);
  	}
  	20% {
  		-webkit-transform: rotate(-5deg);
  	}*/
  /* line 295, app.scss */
  30% {
    -webkit-transform: rotate(5deg);
  }

  /*40% {
  	-webkit-transform: rotate(-5deg);
  }
  50% {
  	-webkit-transform: rotate(5deg);
  }*/
  /* line 304, app.scss */
  60% {
    -webkit-transform: rotate(-5deg);
  }

  /*70% {
  	-webkit-transform: rotate(5deg);
  }
  80% {
  	-webkit-transform: rotate(-5deg);
  }*/
  /* line 313, app.scss */
  90% {
    -webkit-transform: rotate(5deg);
  }

  /* line 316, app.scss */
  100% {
    -webkit-transform: rotate(-5deg);
  }
}

@-webkit-keyframes play {
  /* line 322, app.scss */
  from {
    background-position: 0px;
  }

  /* line 323, app.scss */
  to {
    background-position: -1956px;
  }
}
