<div id="footer">
	<div class="content-wrapper">
		<div class="footer-col">
			<ul class="nav nav-pills nav-stacked">
				<li class="title">Column 1</li>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
			</ul>
		</div>
		<div class="footer-col">
			<ul class="nav nav-pills nav-stacked">
				<li class="title">Column 2</li>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
			</ul>
		</div>
		<div class="footer-col">
			<ul class="nav nav-pills nav-stacked">
				<li class="title">Column 3</li>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>