<div id="header">
	<div class="content-wrapper">
		<div class="header-bar">
			<div class="content-wrap">
				<ul class="menu">
					<li><a href="#home">Home</a></li>
					<li><a href="#phones">Phones</a></li>
					<li><a href="#about">About</a></li>
					<li class="pull-right search">
						<form class="form-search">
							<div class="input-append">
								<input type="text" class="span2 search-query">
								<button type="submit" class="btn">Search</button>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</div>
		<div ng-include src="sliderHome.url"></div>
		<div class="clear"></div>
	</div>
</div>