<ul class="nav nav-tabs">
    <li class="active">
        <a href="#home">Home</a>
    </li>
    <li>
        <a href="#phones">Phones</a>
    </li>
    <li>
        <a href="#about">About</a>
    </li>
    <li>
        <a href="#" ng-click="notify()">Notify</a>
    </li>
</ul>
<div class="well well-small">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
    <pre>
        {{notifiedTime}}
    </pre>
    <div class="tags">
        <span class="tag" style="margin-left:0px; margin-top:19px;-webkit-transform: rotate(-5deg);-moz-transform: rotate(-5deg);"><img src="img/mail-icon.png" /></span>
        <span class="tag" style="margin-left:50px; margin-top:12px;-webkit-transform: rotate(5deg);-moz-transform: rotate(5deg);"><img src="" /></span>
        <span class="tag" style="margin-left:50px; margin-top:20px;-webkit-transform: rotate(-8deg);-moz-transform: rotate(-8deg);"></span>
        <div class="clearfix"></div>
    </div>
</div>