<div ng-include src="header.url"></div>
<div id="content">
    <div class="content-wrapper">
        <div class="well well-small">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
            <div class="input-append" ng-init="initSocket();">
                <input type="text" class="span2" ng-model="socket.text">
                <button type="submit" class="btn" ng-click="socket.send();"><span class="icon-arrow-right"></span> Send</button>
                <button type="submit" class="btn btn-primary" ng-click="socket.getContacts();"><span class="icon-arrow-down"></span> Get Contacts</button>
            </div>
            <form class="form-search">
                <div class="input-append">
                    <input type="text" auto-complete ui-items="contacts" class="span2 search-query">
                    <button type="submit" class="btn"><span class="icon-search"></span></button>
                </div>
            </form>
            <pre>
                {{notifiedTime}}
            </pre>
            <!-- <div class="tags">
                <span class="tag" style="margin-left:0px; margin-top:19px;-webkit-transform: rotate(-5deg);-moz-transform: rotate(-5deg);"><img src="img/mail-icon.png" /></span>
                <span class="tag" style="margin-left:50px; margin-top:12px;-webkit-transform: rotate(5deg);-moz-transform: rotate(5deg);"><img src="" /></span>
                <span class="tag" style="margin-left:50px; margin-top:20px;-webkit-transform: rotate(-8deg);-moz-transform: rotate(-8deg);"></span>
                <div class="clearfix"></div>
            </div> -->
        </div>
    </div>
</div>
<div ng-include src="footer.url"></div>